# Ignore config files except the example template
config/*
src/config.yml

__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
.env
.venv/
venv/

*.log
*.pid
*.sock
docker-compose.override.yml
*.bak
*.tmp

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db
